// Colors
$jade: #2A9D8F;
$orange: #F4A261;
$lightgray: #f7f7f7;
$gray: #e3e2e2;

// Sizes
$radius: 2rem;

// Typography
$font-stack: 'DM Sans', 'Helvetica Neue', Helvetica, arial, sans-serif;

// Random
$shadow: 0px 3px 7px 0px rgba(0,0,0,0.15);
